terraform/jenkins-setup/.terraform
terraform/kubernetes-setup/.terraform
terraform/kubernetes-test/.terraform
.idea/
.DS_Store
.git/
__pycache__
terraform/eks-setup/.terraform/
*.tfstate
**/terraform.tfstate
# .tfstate files
*.tfstate
*.tfstate.*

